@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<head>
    <link rel="stylesheet" href="~/Squadfree/Squadfree/assets/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Squadfree/Squadfree/assets/css/style.css" />
    <script src="~/Squadfree/Squadfree/assets/dist/jquery.min.js"></script>
    <script src="~/Squadfree/Squadfree/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Squadfree/Squadfree/assets/js/main.js" asp-append-version="true"></script>
    <style>
        .logout-form {
            display: inline;
        }

        .logout-btn {
            border: none;
            background: none;
            padding: 0;
            color: #fff; /* Set the color to white */
            text-decoration: inherit;
            cursor: pointer;
        }

            .logout-btn:hover {
                color: #3498db;
                text-decoration: none;
            }

        .navbar-options {
            margin-left: auto;
            margin-right: 0; /* Update margin-right to 0 to shift the navbar items to the left */
        }
    </style>
</head>

<body>
    <ul class="navbar-nav d-flex flex-row navbar-options">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link scrollto" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
            </li>
            <li class="nav-item">
                <form class="logout-form" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link logout-btn">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link scrollto" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>
</body>