@{
}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Supervised Data</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Squadfree/Squadfree/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Squadfree/Squadfree/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Squadfree/Squadfree/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Squadfree/Squadfree/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Squadfree/Squadfree/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Squadfree/Squadfree/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Squadfree
    * Updated: Mar 10 2023 with Bootstrap v5.2.3
    * Template URL: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>


    <!-- ======= Hero Section ======= -->
    @*<section id="hero">
            <div class="hero-container" data-aos="fade-up">
                <h1>The Mummy Project</h1>
                <h2>All things fag el-Gamous</h2>
                <a href="#about" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a>
            </div>
        </section>*@
    <!-- End Hero -->
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="text-center">
        <h1 class="display-4">Supervised Analysis</h1>
    </div>
    <form>
        <div class="row text-center" style="padding-top:50px">
            <div class="col-7">
                <h4>Fill out the form to predict how your mummy was most likely wrapped</h4>
                <div class="form-group" style="color:black; margin-top:10px; margin-bottom:15px">
                    <label for="HeadDirection" class="myLabelSuper">Head Direction:</label>
                    <select id="HeadDirection" class="form-control myInput" name="HeadDirection">
                        <option value="-">-</option>
                        <option value="West">West</option>
                        <option value="East">East</option>
                    </select>
                </div>

                <div class="form-group" style="color:black; margin-top:10px; margin-bottom:15px">
                    <label for="SampleCollected" class="myLabelSuper">Sample Collected:</label>
                    <select id="SampleCollected" class="form-control myInput" name="SampleCollected">
                        <option value="-">-</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>

                <div class="form-group" style="color:black; margin-top:10px; margin-bottom:15px">
                    <label for="FaceBundles" class="myLabelSuper">Face Bundles:</label>
                    <select id="FaceBundles" class="form-control myInput" name="FaceBundles">
                        <option value="-">-</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>

                <div class="form-group" style="color:black; margin-top:10px; margin-bottom:15px">
                    <label for="AdultSubAdult" class="myLabelSuper">Adult Sub Adult</label>
                    <select id="AdultSubAdult" class="form-control myInput" name="AdultSubAdult">
                        <option value="-">-</option>
                        <option value="A">A</option>
                        <option value="C">C</option>
                    </select>
                </div>
                <button id="custom-button">Predict Wrapping!</button>
            </div>
        </div>
    </form>

<h4 style="">Prediction:</h4>
<h4 id="predictionResult"></h4>

<br />
<br />
<br />

<script>
    const customButton = document.getElementById('custom-button');
    customButton.addEventListener('click', function (event) {
        event.preventDefault();
        const inputData = {
            "headdirection_W": 0,
            "headdirection_E": 0,
            "samplecollected_Y": 0,
            "samplecollected_N": 0,
            "Facebundles_Y": 0,
            "Facebundles_N": 0,
            "adultsubadult_A": 0,
            "adultsubadult_C": 0
        }
        function updateInputData() {
            const sampleCollectedInput = document.querySelector('#sample')
            const headDirectionInput = document.querySelector('#headDirection');
            const faceBundlesInput = document.querySelector('#faceBundles')
            const adultsubadultInput = document.querySelector('#adultSubAdult')
            if (sampleCollectedInput === 'Yes') {
                inputData.samplecollected_Y = 1;
                inputData.samplecollected_N = 0;
            }
            else if (sampleCollectedInput === 'No') {
                inputData.samplecollected_Y = 0;
                inputData.samplecollected_N = 1;
            }
            if (headDirectionInput === 'West') {
                inputData.headdirection_W = 1;
                inputData.headdirection_E = 0;
            }
            else if (headDirectionInput === 'East') {
                inputData.headdirection_W = 0;
                inputData.headdirection_E = 1;
            }
            if (faceBundlesInput === 'Yes') {
                inputData.Facebundles_Y = 1;
                inputData.Facebundles_N = 0;
            }
            else if (faceBundlesInput === 'No') {
                inputData.Facebundles_Y = 0;
                inputData.Facebundles_N = 1;
            }
            if (adultsubadultInput === 'A') {
                inputData.adultsubadult_A = 1;
                inputData.adultsubadult_C = 0;
                inputData.adultsubadult_E = 0;
            }
            else if (adultsubadultInput === 'C') {
                inputData.adultsubadult_A = 0;
                inputData.adultsubadult_C = 1;
                inputData.adultsubadult_E = 0;
            }
            else if (adultsubadultInput === 'E') {
                inputData.adultsubadult_A = 0;
                inputData.adultsubadult_C = 0;
                inputData.adultsubadult_E = 1;
            }
        }

        fetch('/predict', {
            method: 'POST',
            body: JSON.stringify(inputData),
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(prediction => {
                console.log(prediction);
                // Update the h4 tag with the prediction result
                document.querySelector('#predictionResult').textContent = String(prediction.predictedValue);
                console.log("it got here at least");
            })
            .catch(error => {
                alert("Something went wrong...");
            });
        })
</script>



</body>
</html>