@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm User Creation";
}

<h2>@ViewData["Title"]</h2>
<div>
    @if (Model.ShowConfirmation)
    {
        <p>
            Thank you for confirming the user.
        </p>
    }
    else
    {
        <p>
            An error occurred while confirming the user creation. Please try again
        </p>
    }
</div>/h1>