@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "User Creation";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
           <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click Here to Confirm User Creation</a>
        </p>
    }
    else
    {
        <p>
            User Created Succesfully
        </p>
    }

}
<br />
<br />
<br />
<br />
