@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "User Account Confirmation";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <div class="card text-center">
        <div class="card-header">
            User
        </div>
        <div class="card-body">
            <h5 class="card-title">@ViewData["Title"]</h5>
            <p class="card-text">Creation of this account will authorize the user for full administrative privileges of the database including the ability to add and delete records. Do you authorize this elevated status? .</p>
            <a class="btn btn-primary" id="confirm-link" href="@Url.Action("UserManagement", "Home", new { area = "" })">Click Here to Authorize</a>
        </div>
        <div class="card-footer text-muted">
            Welcome to Egypt
        </div>
    </div>
    }
    else
    {
        <p>
            User Created Succesfully
        </p>
    }
}
<br />
<br />
<br />
<br />

